<!DOCTYPE html>
<html lang="es">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" href="/MiproyectoMASP/public/css/style.css">
</head>
<body>
    <div class="container">
        <h1> Registro de estudiante Exitoso</h1>
        <div class="mensaje-exito">
            <p> El estudiante <strong>{{ nombre }} {{apellido}}</strong> ha sido registrado exitosamente con el Id: <strong>{{id}}.</strong></p>
            <p><a href ="/estudiante/crear">Registrar otro estudiante</a></p>
        </div>
    </div>
</body>
</html>
